.back-link {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.back-link > div {
    height: 40px;
    min-width: 40px;
    border-radius: 10px;
}

.back-link-image {
    background: no-repeat 50% url('./back.svg'), #FBE0DC;
    cursor: pointer;
}
.back-link-image:hover {
    background: no-repeat 50% url('./back-white.svg'), #FF868E;
}

.back-link-title {
    line-height: 41px;
    margin-left: 10px;
    padding: 0 30px;
    background: #FF868E;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-weight: 500;
}