.images {
    position: relative;
    min-width: 200px;
    min-height: 140px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FBE0DC;
}

.images:hover .imageHover {
    display: flex;
}
  
.images:first-child {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
  
.images:nth-child(3) {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
  
.images:nth-child(8) {
    grid-row: 4 / 6;
    grid-column: 3 / 4;
}
  
.images:nth-child(9) {
    grid-row: 5 / 7;
    grid-column: 1 / 3;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.imageHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 134, 142, 0.6);
}
  
.textHover {
    position: absolute;
    min-width: 180px;
    text-align: center;
    bottom: 0;
    margin: 10px;
    padding: 5px 42px;
    font-size: 16px;
    line-height: 24px;
    color: #FF868E;
    background-color: #FFFFFF;
    border-radius: 10px;
}

