.home {
    position: fixed;
    width: 680px;
    height: 840px;
    left: 730px;
    top: 30px;
    background: #FBE0DC;
    border-radius: 20px;
}

.home-image {
    width: 775px;
    height: 900px;
    left: 665px;
    top: 0px;
}
