.search-container {
    position: relative;
    width: 470px;
}

.search-input {
    width: 100%;
    height: 60px;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    background-color: #FFFFFF;
    outline: none;
    border-style: none;
    border-radius: 20px;
}

.search-input:not(:placeholder-shown) {
    border: 2px solid #FBE0DC;
}

.search-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: #FBE0DC no-repeat 50% url('images/search.svg');
    outline: none;
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
}

.search-button:hover {
    background: #FF868E no-repeat 50% url('images/search-white.svg');
}